<div class="container">
    <div [hidden]="submitted">
      <h1>Order Form</h1>
      <form (ngSubmit)="onSubmit()" #orderForm="ngForm">

        <div class="form-group">
            <label for="foodname">Food </label>
            <input type="text" class="form-control" id="foodname" [disabled]="true"
                   [(ngModel)]="foodprice" name="foodname">
        </div>
  
        <div class="form-group">
          <label for="foodprice">Price</label>
          <input type="number" class="form-control" id="foodprice" [disabled]="true"
                 [(ngModel)]="foodprice" name="foodprice">
        </div>

        <div class="form-group">
            <label for="quantity">Quantity</label>
            <input type="number" class="form-control" id="quantity" (input)="didModify()"
                   [(ngModel)]="quantity" name="quantity">
        </div>

        <div class="form-group">
            <label for="totalPrice">Total Price</label>
            <input type="number" class="form-control" id="totalPrice" [disabled]="true"
                   [(ngModel)]="totalPrice" name="totalPrice">
        </div>
    
        <button type="submit" class="btn btn-success" [disabled]="!orderForm.form.valid">Submit</button>
      </form>
    </div>
  
  </div>